.header{
    padding: 0px 20px;
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    height: 90px;
    box-shadow: 1px 0px 5px darkslategrey;
    background-color: #2196F3;
}
.title{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.profile{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 1px 1px 5px #00000096;
}
.profileImg{
    width: 100%;
}

.profileWrap{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}