.loginWrap{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.loginBlock{
    margin-top: 100px;
    width: 400px;
    height: 500px;
    background-color:white;
    box-shadow: 1px 1px 5px #00000096;
    text-align: center;
}

.loginBlock  h1{
    font-size: 60px;
}

.formItem{
    display: block;
    width: 80%;
    margin: 10px auto;
    font-size: 18px;
    padding: 10px 5px;
    border:none;
    border-bottom:1px solid black;
}

.formItem:active{
    outline: none;
    border-bottom:2px solid black;
}

.formItem:focus-visible{
    outline: none;
    border-bottom:2px solid black;
}

.loginBlock form label{
  font-size: 12px;  
}

.loginSubmit{
    width: 80%;
    border: none;
    outline: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 4px;
    margin-top: 30px;
    color: white;
    background: #404950ad;
}